$fontOpenSans: 'Open Sans',
    sans-serif;
$fontRaleway: 'Raleway', sans-serif;

$button-radius: 35px;

$colors: (
    "color-blue": #08a6e4,
    "color-blue-shadow": rgba(7, 172, 230, 0.16),
    "color-redish": #fb3b64,
    "color-green": #55dfb4,
    "color-black": #000000,
    "color-white": #ffffff,
    "color-grey": #a5a5a5,
    "color-light-grey": #f7f7f7,
);

@mixin mobile {
    @media (max-width: 944px) {
        @content;
    }
}