.opening {
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__text {
        margin-top: 9rem;

        @include mobile {
            margin-top: 16rem;
        }
    }

    img {
        width: 100%;
        height: auto;


        @include mobile {
            width: 220%;
            transform: translateX(-28%);
        }
    }

    h1 {
        font-size: 3rem;
        font-family: $fontRaleway;

    }

    p {
        padding: 55px 0;
        font-size: 2rem;
    }

    a {
        color: map-get($map: $colors, $key: color-white);
        background-color: map-get($map: $colors, $key: color-blue);
        padding: 2rem 9rem;
        border-radius: $button-radius;
        display: inline-block;
        font-size: 2rem;

        @include mobile {
            padding: 2rem 4rem;
        }
    }
}